<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class = "navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class = "navbar-menu">
        <div class = "navbar-start">
            <a href = "/accounts" class = "navbar-item">
                Accounts
            </a>

            <a href = "/allocationcenters" class = "navbar-item">
                Allocation Centers
            </a>

            <a href = "/transactions" class = "navbar-item">
               Transactions 
            </a>
        </div>
    </div>
</nav>