<div class = "container">
    <h1 class = "title">Allocation Center</h1>
    <form>
        <text-field
            label = "Name:"
            name = "name"
            [(value)] = "allocationCenter.name">
        </text-field>
        <text-field
            label = "Amount:"
            name = "amount"
            [(value)] = "allocationCenter.amount"
            readonly = "true" >
        </text-field>
        <text-field
            label = "Goal:"
            name = "goal"
            [(value)] = "allocationCenter.goal">
        </text-field>
        <div class = "field" *ngIf = "allocationCenter.account">
            <label class = "label">Account:</label>
            <div class = "control">
                <input class = "input"
                    type = "text"
                    name = "account"
                    [(ngModel)] = "allocationCenter.account.name" 
                    readonly />
            </div>
        </div>
        <button class = "button" 
            *ngIf = "!allocationCenter.account"
            (click) = "showAccountSelector()" >
            Select account
        </button>
        <!-- <div class = "field" *ngIf = "allocationCenter.paidFrom">
            <label class = "label">Paid from:</label>
            <div class = "control">
                <input class = "input"
                    type = "text"
                    name = "paidfrom"
                    [(ngModel)] = "allocationCenter.paidFrom.name" 
                    readonly />
            </div>
        </div> -->
    </form>

    <div *ngIf = "selectorShowing">
        <ul>
            <li *ngFor = "let account of accounts">
                <a (click) = "selectAccount(account)">
                    {{account.name}}
                </a>
            </li>
        </ul>
        <button class = "button"
            (click) = "hideAccountSelector()">
            Close
        </button>
    </div>
</div>